<h1>New Blog</h1>
<turbo-frame id="create-blog">
  <%= render "form", blog: @blog %>
  <%= link_to "Cancel", root_path, method: :get, form: { data: { turbo_frame: "create-blog" } }, class: "btn btn-secondary" %>
</turbo-frame>
