<h1><%= @blog.title %></h1>
<div><%= @blog.content %></div>

<% if @is_admin %>
  <div class="flex flex-row gap-4">
    <%= button_to "Delete", @blog, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "bg-red-500 rounded-sm px-4 py-2 text-white cursor-pointer" %>
    <%= link_to "Edit", edit_blog_path(@blog), class: "bg-blue-500 rounded-sm px-4 py-2 text-white cursor-pointer" %>
  </div>
<% end %>
