<h1>Welcome to My Site!</h1>

<% if @admin %>
  <turbo-frame id="create-blog">
    <%= link_to "Create Blog", new_blog_path %>
  </turbo-frame>
<% end %>

<% if @blogs.length > 0 %>
  <h2>Recent Blog Posts</h2>
  <div class="grid">
    <%= render @blogs %>
  </div>
<% end %>
