<%= link_to linked_blog.href do %>
  <div class="block p-6 w-full bg-white rounded-lg border border-gray-200 shadow-sm hover:shadow-md hover:border-gray-300 transition duration-200">
    <h2 class="mb-2 text-xl font-semibold"><%= linked_blog.title %></h2>
  </div>
<% end %>

